<div class="container">
  <h1>Editer l'event</h1>
  <!--ajout de photo(photo_event)-->
  <p>
    <%if @event.photo_event.attached?%>
      <%= image_tag @event.photo_event, alt: 'photo_event' %>
      <p><%= link_to "Supprimer la photo", event_photo_event_path(@event), data: {turbo: true,turbo_method: :delete,turbo_confirm: "Are you sure?"}, class:"btn btn-danger" %></p>
    <%else%>
      <p>=== Il n'y a pas encore de photo lié à cet event ===</p>
    <%end%>
  
    <%= form_tag event_photo_events_path(@event), multipart: true do %>
      <%= file_field_tag :photo_event %>
      <%= submit_tag "ajouter/supprimer" %>
    <% end %>
  </p>

  

  <!--formulaire modification d'event-->
  <%= form_with(model: @event, url: event_path(@event)) do |form| %>
    <div class = "form-group">
      <%= form.label "Titre : (entre 5 et 140 caracteres)" %>
      <%= form.text_field :title, class:"form-control" %>
      <%= form.label "Description : (entre 20 et 1000 caracteres)" %>
      <%= form.text_field :description, class:"form-control" %>
      <%= form.label "Start_date : (format 2024-02-24 18:00:00)" %>
      <%= form.datetime_field :start_date, class:"form-control" %>      
      <%= form.label "Duration : (plus de 1s et multiple de 5)" %>
      <%= form.text_field :duration, class:"form-control" %>
      <%= form.label "Price : (plus de 1)" %>
      <%= form.text_field :price, class:"form-control" %>
      <%= form.label :location %>
      <%= form.text_field :location, class:"form-control" %>
    </div>  
    <div class = "form-group">    
      <button type="submit" class="btn btn-primary">Créer</button>
    </div>
  <% end %>
</div>